<div class="thankx-wrapper">
  <%= render 'shared/header_logged' %>
  <div class="thanx-title">
    <h1>パスワード再設定を<br>受け付けました</h1>
  </div>
  <div class="thanx-content">
    <p>パスワード再設定用のリンクをメールアドレスに送信しました。</p>
    <p>2時間以内に再設定をお願い致します。</p>
  </div>
  <div class="home-button">
    <%= link_to 'ホーム', root_path %>
  </div>
</div>