<div class="thankx-wrapper">
  <%= render 'shared/header_logged' %>
  <div class="thanx-title">
    <h1>パスワードを変更しました</h1>
  </div>
  <div class="thanx-content">
    <p>パスワードを再設定しました。</p>
    <p>下のリンクからログインしてください。</p>
  </div>
  <div class="home-button">
    <%= link_to 'ログインページ', login_path %>
  </div>
</div>