<header class="logged">
  <div class="header-icon">
    <p>設定</p>
  </div>
</header>

<div class="users-setting-wrapper">
  <div class="users-setting-container">
    <ul>
      <li>
        <%= link_to "メールアドレス変更" , change_email_edit_path(current_user.id) %>
        <span class="material-icons">navigate_next</span>
      </li>
      <li>
        <%= link_to "パスワード変更" , change_password_edit_path(current_user.id) %>
        <span class="material-icons">navigate_next</span>
      </li>
    </ul>
    <ul>
      <li>
        プライバシーポリシー
        <span class="material-icons">navigate_next</span>
      </li>
      <li>
        特商法表記
        <span class="material-icons">navigate_next</span>
      </li>
      <li>
        よくあるご質問
        <span class="material-icons">navigate_next</span>
      </li>
    </ul>
    <ul>
      <li>
        <%= link_to "ログアウト" , logout_path , class: "logout-btn", method: :delete %>
        <span class="material-icons">navigate_next</span>
      </li>
    </ul>
  </div>
</div>

<%= render 'shared/bottom_nav' %>