<div class="thankx-wrapper">
  <%= render 'shared/header_logged' %>
  <div class="thanx-title">
    <h1>Thank You!</h1>
  </div>
  <div class="thanx-content">
    <p>ご登録していただきありがとうございます。</p>
    <p>指定のメールアドレスからアカウント有効化をお願い致します。</p>
  </div>
  <div class="home-button">
    <%= link_to 'ホーム', root_path %>
  </div>
  <%= render 'shared/bottom_nav' %>
</div>