<nav class="bottom-nav">
  <ul>
    <li>
      <%= link_to posts_path do%>
        <span class="material-icons">home</span>
        <p>ホーム</p>
      <% end %>
    </li>
    <li>
      <%= link_to likes_path do%>
        <span class="material-icons">star</span>
        <p>お気に入り</p>
      <% end %>
    </li>
    <% if current_user.admin %>
      <li>
        <%= link_to new_post_path do%>
          <span class="material-icons">article</span>
          <p>投稿</p>
        <% end %>
      </li>
    <% end %>
    <li>
      <%= link_to setting_path do%>
        <span class="material-icons">app_settings_alt</span>
        <p>設定</p>
      <% end %>
    </li>
  </ul>
</nav>