<%= render 'shared/header_logged' %>
<div class="privacy-policy-wrapper">
    <div class="privacy-policy-container">
        <div class="privacy-policy-title">
            <h1>よくある質問</h1>
            <p>まだ質問がないので、よくある質問はありません。</p>
        </div> 
    </div>    
</div>
<%= render 'shared/bottom_nav' %>