<div class="pc-wrap">
  <%= render 'shared/header_logged' %>

  <div class="posts-index-wrapper">
    <div class="posts-index-container">
      <!-- <%= image_tag 'step1.png' %> -->
      <div class="post-step-content">
        
      </div>
    </div>
  </div>

  <%= render 'shared/bottom_nav' %>
</div>

