<div class="pc-wrap">
  <%= render 'shared/header_logged' %>

      <div class="post-step-content">
        <% num = 1 %>
        <% while num <= 8 do %>
          <%= link_to "/index/#{num}" do %>
            <%= image_tag "step#{num}.png" %>
          <% end %>
          <% num += 1%>
        <% end %>
      </div>


  <%= render 'shared/bottom_nav' %>
</div>

