<div class="pc-wrap">
  <%= render 'shared/header_logged' %>

  <div class="posts-index-wrapper">
    <div class="posts-index-container">
      
    </div>
  </div>

  <%= render 'shared/bottom_nav' %>
</div>

