header.logged{
  position:static;
  margin:auto;
  height:50px;
  background:rgb(255, 255, 255);
  border-bottom:1px solid rgb(206, 206, 206);
  .header-icon{
    width:100%;
    padding:10px 7px;
    text-align: center;
    img{
      width:70px;
    }
    p{
      padding:3px 0 0 0;
      color:black;
      font-size:1.4em;
      font-weight:500;
    }
  }
  .login-btn{
    display: flex;
    justify-content: flex-end;
    a{
      display: block;
      width:100vw;
      line-height: 20px;
      padding:10px;
      text-align: right;
      font-size:0.8em;
    }
  }
}

.posts-new-wrapper{
  margin:auto;
  .posts-new-container{
    width:70%;
    margin:auto;
    padding:20px 0;
    form{
      display: flex;
      flex-direction: column;
      
      input{
        height:30px;
        margin:0 0 15px 0;
        border:1px solid rgb(187, 187, 187);
      }
      input[type="submit"]{
        margin-top:20px;
        padding:5px 15px;
      }
      label{
        margin-top:10px;
      }
    }
  }
}

.posts-index-wrapper{
  margin:auto;
  background:rgb(248, 248, 248);
  .posts-index-container{
    width:85vw;
    margin:20px auto 80px auto;
    .posts{
      margin:20px 0;
      box-shadow: 5px 3px 15px rgb(207, 207, 207);
      .posts-index-image{
        img{
          width:100%;
        }
      }
      .posts-index-title{
        display: flex;
        position: relative;
        margin: 0;
        background:rgb(255, 255, 255);
      }
      h2{
        padding:18px 20px;
        color:rgb(48, 48, 48);
        font-size:5vw;
        font-weight:bold;
      }
      .like-btn{
        position: absolute;
        top:16.65px;
        right:10px;   
      }
    }
  }
}

.posts-show-wrapper{
  margin:auto;
  background:rgb(245, 245, 245);
  article{
    section{
      width: 90vw;
      margin: auto;
    }
    h1{
      margin:20px 0;
      padding:15px 10px;
      background:rgb(6, 6, 114);
      color:white;
      border-radius: 5px;
      font-size:24px;
      font-weight:bold;
    }
    h2{
      margin:15px 0;
      padding:12px 13px;
      background:rgb(75, 75, 161);
      color:white;
      border-radius: 5px;
      font-size:22px;
      font-weight:bold;
    }
    h3{
      padding:12px 13px;
      background:rgb(211, 211, 243);
      font-weight:500;
      font-size:20px;
      border-radius: 5px;
    }
    ul{
      margin:10px 0;
    }
    li{
      list-style: inside;
    }
    p{
      padding:8px 7px;
      font-size:18px;
      font-weight:500;
    }
    span.under-yellow{
      background: linear-gradient(transparent 60%, #e5f323 0%);
      font-weight:bold;
    }
  }
}

nav.bottom-nav{
  margin:auto;
  text-align: center;
  ul{
    display: flex;
    position:fixed;
    z-index:2;
    background:#fff;
    bottom:0;
    width:100vw;
    li{
      width:33.33333%;
      padding:8px 10px;
      border-top:1px solid rgb(206, 206, 206);
    }
    p{
      font-size:0.6em;
    }
  }
}