.pc-wrap{
  max-width:100%;
  margin:auto;
}

.flash{
  position: absolute;
  top:50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width:100%;
  height:25px;
  margin:auto;
  padding:3px 0;
  background:rgb(24, 26, 80);
  color:rgb(255, 255, 255);
  text-align: center;
  animation: fadein-keyframes 2.3s ease-in 0s 1 forwards;
  @keyframes fadein-keyframes {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.users-new-wrapper{
  min-height:100vh;
  margin:auto;
  background:rgb(253, 253, 253);
  img{
    display: block;
    width:150px;
    margin:auto;
    padding:40px 0 0 0;
  }
  .users-new-container{
    margin:40px 0;  
    form{
      display:flex;
      flex-direction: column;
      width:90%;
      margin: 0 auto;
      padding: 20px;
      border:1.25px solid rgb(212, 212, 212);
      box-shadow: 1px 1px rgb(230, 230, 230);
      background:rgb(255, 255, 255);
      text-align:left;
      .users-new-title{
        padding:5px 0;
        h1{
          font-weight: 500;
          font-size:6vw;
          @media screen and (min-width: 500px) {
            font-size: 33px;
          }
        }
      }
      a{
        display: inline-block;
        margin:15px 0 0 0;
        color:rgb(4, 17, 199);
        font-size:0.9em;
        text-decoration: underline;
      }
      input{
        height:45px;
        margin:20px 0 0 0;
        border-bottom:1.5px solid rgb(46, 46, 46);
      }
      textarea{
        height:150px;
        margin:20px 0 0 0;
        border-bottom:1.5px solid rgb(46, 46, 46);
      }
      label{
        margin: 25px 0 7px 0;
        font-size:4.3vw;
      }
      .users-new-title{
        text-align: center;
      }
      #error_explanation{
        .alert{
          display: none;
        }
        ul{
          padding:20px;
          border:2px solid rgb(104, 3, 3);
          background:rgb(255, 125, 125);
          color:black;
          li{
            list-style: inside;
          }
        }
      }
      .label-first{
        margin:10px 0 7px 0;
      }
      input[type="submit"]{
        position: relative;
        padding: 17px 35px;
        transition: none;
        -webkit-transition: none;
        border-radius: 5px;
        box-shadow: 0 6px 0 rgb(12, 3, 134);
        background:rgb(22, 39, 94);
        color: #FFF;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        &:active {        
          top:6px;
          box-shadow: none;
        }
      }
    }
  }
  .users-new-btn{
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height:30px;
    a{
      font-weight:500;
      font-size:1.05em;
      text-decoration: underline;
      color: rgb(22, 39, 94);
    }
  }
}

.users-index-wrapper{
  max-width:500px;
  margin:0 auto 50px auto;
  .users-index-container{
    padding:30px 10px;
    p{
      padding:5px 0;
      font-weight:bold;
      font-size:1.25em;
    }
    .users{
      margin:10px 0;
      padding:10px;
      border:1.5px solid rgb(226, 224, 224);
      h2{
        margin:3px 0;
        font-weight:500;
        font-size:1.3em;
      }
    }
  }
}

.users-setting-wrapper{
  margin:auto;
  .users-setting-container{
    ul{
      margin:25px 0 0 0;
      padding:0 10px;
      a{
        display: block;
        &:first-child{
          border-top:1px solid rgb(167, 167, 167);
        }
      }
      li{
        position: relative;
        padding:15px 12px;
        border-bottom:1px solid rgb(167, 167, 167);
        font-weight:500;
        font-size:1.1em;

        span{
          position: absolute;
          top:8px;
          right:30px;
          color:rgb(168, 168, 168);
          font-size:2.2em;
        }
      }
      .logout-btn{
        color:rgb(230, 17, 17);
        font-weight:600;
      }
    }
  }
}